# Ignore Gradle project-specific cache directory
*.gradle/

# Ignore Gradle build output directory
*build
*out
*.idea

#Redis logs and files
**/*.rdb
**/*.log
backend/log/**


#C compliation thrash
*.o
esp8266_client/*.bin
esp-image

#Makefile so it will not overwrite your local one
Makefile

#confidential data in those files
ssl_conf.h
user_config.h

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/frontend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#Cmake (Not used in this project, but default of some IDEs)
esp8266_client/CMakeLists.txt
esp8266_client/cmake-build-debug/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.iml

# System Files
.DS_Store
Thumbs.db

#Linux files
*~

#keystores, certificates, private keys
*.crt
*.key 
*.p12
*.jks
*.pem
