<div [@showHide]="isVisible() ? 'visible' : 'hidden'" class="container mb-2">
  <div class="floor-header d-flex" [ngClass]="{'justify-content-center': sidenav.opened && smallDevice, 'justify-content-between': (!sidenav.opened && smallDevice) || !smallDevice}"
    (click)="toggle()">
    <i class="material-icons hidden-icon" *ngIf="!sidenav.opened || !smallDevice">add</i>
    <span class="floor-header-text">{{ sidenav.opened && smallDevice ? floorData.floorNumber : 'Floor ' +
      floorData.floorNumber }}</span>
    <i class="material-icons sign" *ngIf="!sidenav.opened || !smallDevice">{{ isOpen ? 'keyboard_arrow_up' :
      'keyboard_arrow_down' }}</i>
  </div>
  <hr>
  <div class="floor-panel" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="container">
      <div @noTablesVisible *ngIf="floorData.getVisibleTablesCount() > 0"
        class="row d-flex justify-content-around">
        <ng-container *ngFor="let table of floorData.tables">
          <div @showHideTable *ngIf="(table.visible === true || table.visible === undefined) && ((dataService.onlyFreeTables && !table.active) || !dataService.onlyFreeTables)" class="col-xs-3">
            <app-table [tableData]="table"></app-table>
          </div>
        </ng-container>
      </div>
      <p @noTablesVisible *ngIf="floorData.getVisibleTablesCount() <= 0 || (dataService.onlyFreeTables && floorData.getFreeTablesCount() <= 0)" class="no-tables-paragraph">
        No tables found on this floor.
      </p>
    </div>
  </div>
</div>