.error {
  font-family: 'Lato light', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(255,0,0, 0.8);
  color: white;
  display: block;
  text-align: center;
  padding: .5rem;
  width: 100%;
  margin: auto;
  position: sticky;
}

.none {
  display: none;
}

i {
  cursor: pointer;
  padding-top: .2rem;
}