<form class="table-data-form d-flex justify-content-around align-items-center">
  <span>{{ tableData.id }}</span>

  <mat-form-field>
    <input [disabled]="!isEditable" required matInput [type]="'number'" [(ngModel)]="tableData.floor" name="floor">
    <mat-error>Invalid number</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [disabled]="!isEditable" required matInput type="number" [(ngModel)]="tableData.room" name="room">
    <mat-error>Invalid number</mat-error>
  </mat-form-field>

  <span>
    <button mat-raised-button [color]="isEditable ? 'accent' : 'primary'" (click)="editOrSave()">{{ isEditable ? 'Save'
      : 'Edit'}}</button>
    <button mat-raised-button [disabled]="isCalibrationPending" [color]="calibrationStatus ? 'primary' : 'warn'"
      (click)="sendCalibrationRequest()">{{calibrationStatus ? 'Calibration' : 'Retry'}}
    </button>
  </span>
</form>