<div class="slide-toggle-container">
  <mat-slide-toggle (change)="slideChanged($event)" [color]="'primary'" class="slide-toggle">
    Only free tables
  </mat-slide-toggle>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Floors
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let floor of floors" class="ml-2">
      <app-custom-checkbox [checked]="floor.visible" [floorData]="floor" (changed)="setCookies()">
        <div class="d-flex flex-column pl-3 pt-2">
          <app-table-checkbox *ngFor="let table of floor.tables" [tableData]="table" (changed)="setCookies()"></app-table-checkbox>
        </div>
      </app-custom-checkbox>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="d-flex justify-content-center">
  <button mat-raised-button color="primary" (click)="clear()">Clear</button>
</div>